<div class="row">
 <% recipes.forEach(function(recipe, index) { %>
   <div class="col-md-4">

     <div class="card mt-3">
       <img class="card-img-top"
       <%if (recipe.pictureUrl) { %>
         src="<%=imageServer%>/hj-recipes/<%=recipe.pictureUrl%>"
       <% } else { %>data-src="holder.js/100px120?random=yes&font=FontAwesome&size=20&text=&#xf0f5;"<%}%>
       alt="Delicious image">
       <div class="card-body">
         <h4 class="card-title"><a href="/recipes/<%=recipe.shortId%>"><%= recipe.name %></a></h4>
         <p class="card-text"><%= recipe.description %></p>
       </div>
       <ul class="list-group list-group-flush">
         <li class="list-group-item"><img class="rounded-circle" style="max-height:50px" src="<%=recipe.chef.avatar%>" /> <a href="/chefs/<%=recipe.chef.shortId%>"><%=recipe.chef.name%></a> on <%=recipe.createdAt%></li>
       </ul>
    </div>
   </div>
 <% }) %>
 </div>
