<!doctype html>
<html lang="en">
<head>
  <%- include ./partials/head %>
</head>
<body>

<%- include ./partials/header %>

<div class="row">

    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <img src="<%=chef.avatar%>" style="max-height:50px" class="rounded-circle"/>
            Chef <%=chef.name%>
          </h3>
          <h6 class="card-subtitle mb-2 text-muted">
            <%if(chef.name === 'jaacco') {%>Spaghetti code masterchef<%
             } else if(chef.recipes.length === 0) {%>Shy chef<%
             } else {%>Masterchef in training<%}%>
          </h6>
        </div>
        <div class="card-body">
          <h4>All Chefs recipes</h4>
          <ul class="list-group">
            <% chef.recipes.forEach(function(recipe, index) { %>
              <li class="list-group-item"><a href="/recipes/<%=recipe.shortId%>"><%=recipe.name%></a></li>
            <% }) %>
            <% if(chef.recipes.length === 0){ %>
              <li class="list-group-item">No recipes yet!</li>
            <% } %>
        </ul>
        </div>
        <div class="card-footer small">
          <p/>
        </div>
      </div>
    </div>

  </div>

<%- include ./partials/footer %>

</body>
</html>
