<!doctype html>
<html lang="en">
<head>
  <%- include ./partials/head %>
</head>
<body>

<%- include ./partials/header %>

<div class="row">

    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <img src="<%=chef.avatar%>" class="rounded-circle"/>
            Chef <%=chef.name%>
          </h3>
        </div>
        <div class="card-body text-center">
          <ul class="list-group">
            <li class="list-group-item">Chefs recipes</li>
            <% chef.recipes.forEach(function(recipe, index) { %>
              <li class="list-group-item"><a href="/recipes/<%=recipe.shortId%>"><%=recipe.name%></a></li>
            <% }) %>
            <% if(chef.recipes.length === 0){ %>
              <li class="list-group-item">No recipes yet!</li>
            <% } %>
        </ul>
        </div>
        <div class="card-footer small">
          <p/>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>
