<!doctype html>
<html lang="en">
<head>
  <%- include ./partials/head %>
</head>
<body>

  <%- include ./partials/header %>

  <h3>All chefs</h3>

  <div class="row">
  <% chefs.forEach(function(chef, index) { %>
    <div class="col-sm-4">

      <div class="card mt-3">
        <div class="card-body">
          <h4 class="card-title"><img class="rounded-circle" src="<%= chef.avatar %>" /> <%=chef.name%></h4>
          <h6 class="card-subtitle mb-2 text-muted">Spaghetti code masterchef</h6>
          <p class="card-text">
          Latest recipes:
          </p>
          <ul>
          <% chef.recipes.forEach(function(recipe, index) { %>
            <li><a href="/recipes/<%=recipe._id%>"><%=recipe.name%></a></li>
          <% }) %>
        </ul>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/chefs/<%=chef._id%>" class="card-link">See profile</a></li>
        </ul>
      </div>

  <% }) %>
  </div>

  </div>
</div>

</body>
</html>
