
<!doctype html>
<html lang="en">
<head>
  <%- include ./partials/head %>
</head>

<body>

  <%- include ./partials/header %>

  <h3>Latest recipes</h3>

  <div class="row">
   <% recipes.forEach(function(recipe, index) { %>
     <div class="col-md-4">

       <div class="card mt-3">
         <img class="card-img-top" data-src="holder.js/100px100?random=yes&text=No image yet" alt="Delicious image">
         <div class="card-body">
           <h4 class="card-title"><%= recipe.title %></h4>
           <p class="card-text"><%= recipe.score %> <small>/ 10</small></p>
         </div>
         <ul class="list-group list-group-flush">
           <li class="list-group-item">By <%= recipe.chef %></li>
         </ul>
      </div>

     </div>
   <% }) %>
   </div>

   </div>

</div>

</body>
</html>
