<!doctype html>
<html lang="en">
<head>
  <%- include ./partials/head %>
</head>
<body>

<%- include ./partials/header %>

<h3>My profile</h3>


<div class="row">

   <div class="col-md-4">
     <div class="card mt-3">
       <div class="card-body">
         <h4 class="card-title">Recipes</h4>
         <p class="card-text"></p>
       </div>
       <ul class="list-group list-group-flush">
         <% chef.recipes.forEach(function(recipe, index) { %>
           <li class="list-group-item"><a href="/recipes/<%=recipe.shortId%>"><%=recipe.name%></a></li>
         <% }) %>
         <% if(chef.recipes.length === 0){ %>
           <li class="list-group-item">No recipes yet!</li>
         <% } %>
     </ul>
    </div>
   </div>

   <div class="col-md-6">
     <div class="card mt-3">
       <div class="card-body">
         <h4 class="card-title">Personal</h4>
         <p class="card-text">

           <table class="table">
             <tbody>
               <tr>
                 <th scope="row">Avatar</th>
                 <td><img src="<%=chef.avatar%>" class="rounded-circle"/></td>
                 <td>Edit</td>
               </tr>
               <tr>
                 <th scope="row">Nickname</th>
                 <td><%=chef.name%></td>
                 <td>Edit</td>
               </tr>
               <tr>
                 <th scope="row">Active</th>
                 <td>Yes</td>
                 <td>Edit</td>
               </tr>
             </tbody>
           </table>
         </p>
       </div>
     </ul>
    </div>
   </div>

 </div>

</div>

</body>
</html>
