<!doctype html>
<html lang="en">
<head>
  <%- include ./partials/head %>
</head>
<body>

<%- include ./partials/header %>

<h3>My profile</h3>


<div class="row">

   <div class="col-md-6">
     <div class="card mt-3">
       <div class="card-body personal">
         <h4 class="card-title">Personal
         <div class="float-right"> <a href="#save" data-toggle="collapse" class="btn btn-primary btn-sm btn-edit">Edit</a></div>
         </h4>
         <p class="card-text">
           <% if(errorMessage) { %>
              <div class="alert alert-danger" role="alert"><%=errorMessage%></div>
           <% } %>
           <form action="/chefs/me" method="post">
           <table class="table">
             <tbody>
               <tr>
                 <th scope="row">Avatar</th>
                 <td><img src="<%=chef.avatar%>" class="rounded-circle" style="max-height:80px"/></td>
                 <td></td>
               </tr>
               <tr>
                 <th scope="row">Nickname</th>
                 <td><input type="text" class="form-control"
                   name="name" id="name" aria-describedby="nameHelp" placeholder="Enter chef name" value="<%=chef.name%>" disabled/>
                 </td>
                 <td></td>
               </tr>
               <tr>
                 <th scope="row">Email</th>
                 <td><%=chef.email%></td>
                 <td></td>
               </tr>
               <tr>
                 <th scope="row">Language</th>
                 <td><%=chef.locale%></td>
                 <td></td>
               </tr>
             </tbody>
           </table>
           <div class="float-right">
           <button  type="submit"  id="save" class="btn btn-primary btn-sm btn-save collapse">Save</button>
         </div>
          </form>
         </p>
       </div>
     </ul>
    </div>
   </div>

   <div class="col-md-4">
     <div class="card mt-3">
       <div class="card-body">
         <h4 class="card-title">Recipes</h4>
         <p class="card-text"></p>
       </div>
       <ul class="list-group list-group-flush">
         <% chef.recipes.forEach(function(recipe, index) { %>
           <li class="list-group-item"><a href="/recipes/<%=recipe.shortId%>"><%=recipe.name%></a></li>
         <% }) %>
         <% if(chef.recipes.length === 0){ %>
           <li class="list-group-item">No recipes yet!</li>
         <% } %>
     </ul>
    </div>
   </div>

 </div>

<%- include ./partials/footer %>

<script>
$(function()
{
    $(document).on('click', '.btn-edit', function(e)
    {
      $( "#name" ).prop('disabled',!$( "#name" ).prop('disabled'));
		e.preventDefault();
		return false;
	});

});

</script>
</body>
</html>
