<!doctype html>
<html lang="en">
<head>
  <%- include ./partials/head %>
</head>
<body>

<%- include ./partials/header %>

<div class="jumbotron">
  <h2 class="display-3"><%=recipe.title%></h2>
  <p class="lead"><img src="<%=recipe.chef.avatar%>" class="rounded-circle"/> <%=recipe.chef.name%></p>
  <hr class="my-4">
  <p>todo recipe content</p>
  <!--
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
-->
</div>



  </div>
</div>

</body>
</html>
