<!doctype html>
<html lang="en">
<head>
  <%- include ./partials/head %>
</head>
<body>

<%- include ./partials/header %>

  <div class="jumbotron">
    <p class="lead">
      Created on <%=recipe.createdAt%> by <a href="/chefs/<%=recipe.chef.shortId%>"><%=recipe.chef.name%></a> <img src="<%=recipe.chef.avatar%>" class="rounded-circle"/>
    </p>
    <h2 class="display-3"><%=recipe.name%>
      <% if(loggedIn && recipe.chef.sub === loggedIn._json.sub) { %>
      <a class="btn btn-primary btn-lg" href="/recipes/edit/<%=recipe.shortId%>" role="button">Edit</a>
      <% } %>
    </h2>
    <p class="lead"><em>&ldquo;<%=recipe.description%>&rdquo;</em></p>
    <%if (recipe.pictureUrl) { %>
     <img class="img-fluid" src="<%=imageServer%>/hj-recipes/<%=recipe.pictureUrl%>"/>
    <% } %>
    <p class="lead">Time to cook:<strong><%=recipe.cookingTime%> mins.</strong> Portions:<strong><%=recipe.portions%></strong></p>
    <hr class="my-4">

    <h5 class="display-5">Ingredients</h5>

    <table class="table table-sm table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Ingredient</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit</th>
        </tr>
      </thead>
      <tbody>
       <%recipe.ingredients.forEach(function(ingredient, index) { %>
        <tr>
          <td><%=ingredient.title%></td>
          <td><%=ingredient.quantity%></td>
          <td><%=ingredient.unit%></td>
        </tr>
       <%})%>
      </tbody>
    </table>

    <hr class="my-4">

    <h5 class="display-5">Instructions</h5>

    <table class="table table-sm table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Step</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <%recipe.instructions.forEach(function(instruction, index) { %>
         <tr>
           <td><%=index+1%></td>
           <td><%=instruction.description%></td>
         </tr>
        <%})%>
      </tbody>
    </table>

  </div>

</div>

</body>
</html>
