<!doctype html>
<html lang="en">
<head>
  <%- include ./partials/head %>
</head>
<body>

<div class="container">

  <h1><span class="fa fa-cutlery"></span> Herkkujemma</h1>

  <div class="jumbotron">
    <h1 class="display-3">Welcome, new masterchef!</h1>
    <p class="lead">You're almost done, please complete your profile before continuing below.</p>
    <hr class="my-4">
    <% if(errorMessage) { %>
       <div class="alert alert-danger" role="alert"><%=errorMessage%></div>
    <% } %>

    <form action="/chefs/signup" method="post">
     <div class="form-group">
      <label for="name">Your Chef name</label>
      <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Enter Chef name" value="<%= signupFields.name %>">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" value="<%= signupFields.email %>">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="locale">Your preferred language</label>
      <select class="form-control" name="locale" id="locale">
        <option <% if(signupFields == 'en') {%>selected<%}%>>en</option>
        <option>fi</option>
      </select>
    </div>
    <input type="hidden" name="avatar" value="<%= signupFields.avatar %>" />
    <p class="lead">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </p>
  </form>

  </div>

</div>

</body>
</html>
