<!doctype html>
<html lang="en">
<head>
  <title>Herkkujemma recipe stash</title>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body {
      background-color: #ecedec;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="jumbotron text-center">
    <a href="/">
    <h1><span class="fa fa-cutlery"></span></h1>
    <h2>Herkkujemma</h2>
	</a>
  </div>


<div class="row">

    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Welcome new masterchef!</h3>
        </div>
        <div class="card-body text-center">
          <p>Please complete your profile before continuing:</p>
          <% if(errorMessage) { %>
            <p><%=errorMessage%></p>
          <% } %>
          <form action="/chefs/signup" method="post">
          <dl>
          	<dt>Your Chef name</dt>
          	<dd><input type="text" name="nickname" value="<%= signupFields.nickname %>" /></dd>
            <dt>Your email address</dt>
            <dd><input type="text" name="email" value="<%= signupFields.email %>" /></dd>
            <dt>Your preferred language</dt>
            <dd><input type="text" name="locale" value="<%= signupFields.locale %>" /></dd>
          </dl>          
          <input type="hidden" name="avatar" value="<%= signupFields.picture %>" />
          <input type="submit" value="Proceed"/>
        </form>
        </div>
        <div class="card-footer small">
          <p/>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>
